[Unit]
Description=API REST de Dispositivos
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=deploy
Group=deploy
WorkingDirectory=/opt/dashboard/Parcial-3/Practica-1
ExecStart=/opt/dashboard/Parcial-3/Practica-4/venv/bin/gunicorn --workers 1 --bind 127.0.0.1:5001 api_dispositivos:app
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target