# Variables de entorno y secretos
.env

# Entorno virtual de Python
.venv/
venv/

# Archivos temporales de Python
__pycache__/
*.py[cod]

# Configuración local de editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db